#home-screen {
  height: 900vh;
}
#home-screen .header-screen {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
  padding-top: 5px;
}
.main-screen__home {
  display: block;
  padding-top: 10px;
}
.user-friend__ID {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  align-items: center;
}
.user-friend__icon {
  display: flex;
  align-items: center;
}
.user-friend__icon img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding-right: 10px;
}
.user-friend__icon div {
  font-size: 25px;
}
.user-friend__upload {
  width: 100vw;
  height: 520px;
  display: flex;
  justify-content: center;
}
.user-friend__feedback {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
}
.user-friend__feedback i {
  font-size: 28px;
}
.feedback__like .fa-comment {
  margin: 0px 10px;
}
.user-friend__likewho {
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 20px;
}
.user-friend__likewho img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
}
.likewho__id {
  font-weight: 600;
  margin-right: 3px;
}
.likewho__count-number {
  font-weight: 600;
  margin: 0px 3px;
}
.user-friend__contents {
  font-size: 20px;
  padding: 10px 20px;
}
.contents__content {
  padding: 10px 0px;
}
.comment__comment {
  padding: 10px 0px;
  display: flex;
}
.comment__comment a {
  margin-right: 10px;
  font-weight: 600;
}
.contents__id {
  font-weight: 600;
}
.user-friend__contents .comment__more {
  color: rgba(0, 0, 0, 0.5);
}
