.main-screen {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-screen__user {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.inform-login {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.login-screen__username {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
}
.login-screen__username span {
  margin-top: 8px;
}
.login-screen__submit {
  display: flex;
  flex-direction: column;
}
.login-screen__submit input {
  margin-bottom: 15px;
  background-color: rgb(47, 61, 248);
  color: white;
  border: none;
  padding: 3px;
  border-radius: 5px;
  width: 200px;
}

.login-screen__submit a {
  text-align: center;
  font-size: 10px;
}
.instagram {
  font-size: 30px;
}
.inform-login a {
  margin-left: 5px;
  font-size: 13px;
}
.login-screen__submit input:focus {
  opacity: 0.5;
}
.login-screen__submit input:hover {
  cursor: pointer;
}
