#plus-screen .nav__icons {
  font-size: 17px;
}
#plus-screen .nav {
  padding: 25px 50px;
}

#plus-screen .nav a:hover {
  cursor: not-allowed;
}
#plus-screen .header-screen {
  width: 51.5%;
  padding-top: 10px;
  margin-left: 10px;
  background-color: none;
}
.main-screen__allow-access:first-child {
  margin-top: 80px;
  padding-top: 130px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.pluss-screen__picture {
  font-weight: 600;
}
