#search-screen {
  height: 400vh;
}
#search-screen .fa-search {
  font-size: 40px;
}

#search-screen .main-screen__column:first-child {
  margin-top: 10px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
  padding-top: 5px;
}
#search-screen .main-screen__column:last-child {
  margin-top: 60px;
}

.block-small {
  height: 180px;
  width: 180px;
}
.block-big {
  height: 363px;
  width: 363px;
}
.search-screen__user {
  display: flex;
  justify-content: center;
}

.search-recommened__column {
  display: flex;
  flex-direction: column;
}
.main-screen__column-more:hover btn {
  cursor: progress;
}
