.main-screen__top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  padding-top: 20px;
}
.main-screen__column {
  display: flex;
  justify-content: space-between;
  padding: 7px 15px;
}
.main-screen__column-instastory {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.main-screen__column-instastory:hover img {
  cursor: pointer;
}

.main-screen__column-instastory img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.main-screen__column-instastory:first-child {
  margin-right: 30px;
  position: relative;
}
.main-screen__column-instastory i {
  position: absolute;
  bottom: 30px;
  right: 0px;
  font-size: 25px;
  color: var(--blue);
  background-color: white;
  border-radius: 50%;
  padding: 3px;
}
@keyframes instastory {
  0% {
    transform: none;
  }
  50% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: none;
  }
}

.main-screen__column-instastory:hover img {
  animation: instastory 0.5s ease-in-out infinite;
}
.main-screen__column-instastory:first-child:hover img {
  animation: none;
}

.main-screen__column-instastory img {
  border: 3px solid tomato;
  margin-bottom: 15px;
}
.main-screen__column-instastory:first-child img {
  border: none;
}

.main-screen__suggestion {
  display: flex;
  flex-direction: column;
  align-items: space-between;

  text-align: center;
}
.main-screen__allow-access span {
  font-size: 23px;
  color: rgba(0, 0, 0, 0.5);
}
.main-screen__allow-access p {
  padding: 50px 130px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.main-screen__allow-access a {
  font-size: 13px;
  color: rgb(58, 58, 250);
}
.main-screen__search {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}
.main-screen__search i {
  font-size: 30px;
}
.main-screen__search input {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  padding: 10px;
}
.main-screen__column-more {
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}
.main-screen__column-more btn {
  padding: 10px 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.main-screen__column-more:hover btn {
  cursor: pointer;
}
.main-screen__search:hover {
  cursor: pointer;
}
